<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lo Básico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Básico</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-item>
    <ion-label>
      <h1>Nociones globales</h1>
      <p>Battletech es un juego de mesa con miniaturas representando unidades piloteadas (mechs, básicamente ajedrez con más pasos).</p>
      <p>El juego es agnostico, por lo que cualquier cosa puede representar lo que una miniatura puede.</p>
      <p>Hay contenido disponible, libros, novelas y algunas aplicaciones distintas a esta misma.</p>
      <p></p>
      <p>Es relativamente complejo jugar, por lo que esta aplicación busca simplificar y optimizar el proceso</p>
    </ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label>
      <h2>¿Qué es Battletech?</h2>
      <p>Cómo ya se ha mencionado, Battletech es un juego de mesa con un universo extendido y bien documentado.</p>
      <p>Este juego por su naturaleza es un apoyo al pensamiento crítico y agílidad mental, la matemática es una constante</p>
      <p>y existen algunas fórmulas que se aplican de forma constante</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h2>¿Cómo se juega?</h2>
      <p>De primera instancia hay unos pocos componentes vitales:</p>
      <p>Miniaturas (o tokens), dados de 6 caras, mapas de juego modulares.</p>
      <p></p>
      <p>Las miniaturas poseen proporciones específicas (6mm/1:285) que se acoplan a los mapas estándar.</p>
      <p></p>
      <p>Hay libros de reglas y estrategias probadas pero nos enfocaremos en lo básico.</p>
      <p>El sistema de juego se compone por fases que se resumirán en la siguiente sección.</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h2>¿Cómo se componen los grupos de unidades?</h2>
      <p>Usualmente se trata de 2 equipos, en el lenguaje del juego estos grupos se denominan "Lanzas".</p>
      <p>Una "Lanza" se compone de 4 unidades independientes (osea 4 miniaturas con su respectiva peana).</p>
      <p>Las proporciones pueden cambiar de acuerdo a lo que los jugadores acuerden (elección por BV, puntos, o proporción).</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h2>¿Cuántos jugadores pueden participar?</h2>
      <p>Entre 1 y 8 para una partida normal.</p>
      <p>Hay partidas de hasta 12 participantes (no recomendado).</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h2>¿Qué versión cubre esta aplicación?</h2>
      <p>Versión clásica, la más táctica y compleja disponible, pero a la vez la que mejor implementa el pensamiento ágil.</p>
    </ion-label>
  </ion-item>

</ion-content>
