<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>
      <h2>Bienvenido(a)</h2>
      <p>Como ya te habrás imaginado, esta aplicación corresponde a quienes
        estén buscando una fuente sencilla y de facil acceso a informacion
        sobre cierto juego de mesa, se espera que la aplicación evolucione
        a la par que la necesidad de nuestros usuarios.
      </p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h2>¿Que cubre esta aplicación?</h2>
      <p>
        Lo que la aplicación busca cubrir son las necesidades más basicas en cuanto
        al manejo y desempeño del juego de mesa, sabemos lo complejo que es incluso
        en sus versiones más simplificadas, por lo que se busca tener una forma concisa
        y accesible de leer o referenciar lo que haga falta en su momento, la aplicación
        tiene la principal función de proporcionar información actualizada respecto a reglas
        acciones específicas y similares para volver la experiencia de juego más dinámica.
      </p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h2>¿Podre acceder desde cualquier dispositivo?</h2>
      <p>
        Esta aplicacion está diseñada con tecnologías web, al quedarse 
        disponible en un servicio de hosting simplemente podemos volverla 
        ubicua y accesible a través de internet.
      </p>
    </ion-label>
  </ion-item>



</ion-content>
